/.gradle/
/build/
/bin/
/.idea/
/out/

.gradletasknamecache

*.class


*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
*.iml
*.ipr
*.iws
!/Browser/chromedriver.exe
!/config.properties
!/Browser/geckodriver.exe
